<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
         http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.2.xsd">

    <!-- Define the entity manager for JPA transactions -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" lazy-init="true">
        <property name="persistenceUnitName" value="transactions-optional"/>
    </bean>

    <bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Load application properties file from the classpath -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:stripe.properties</value>
            </list>
        </property>
    </bean>

    <bean id="mailSender" class="com.columbusclubevents.pool.membershipApplication.email.MailSender">
        <property name="from" value="operations@columbusclubevents.com"/>
        <property name="subject" value="Welcome to the Knights of Columbus Pool for the 2014ß Season!"/>
        <property name="memberConfirmationFileText" value="classpath:email/Email Confirmation Members.txt"/>
        <property name="nonmemberConfirmationFileText" value="classpath:email/Email Confirmation Non-Members.txt"/>
        <property name="memberConfirmationFileHtm" value="classpath:email/Email Confirmation Members.htm"/>
        <property name="nonmemberConfirmationFileHtm" value="classpath:email/Email Confirmation Non-Members.htm"/>
        <property name="parkingAttachment" value="classpath:email/Columbus Club Parking Map.pdf"/>
        <property name="rulesAttachment" value="classpath:email/Pool Rules 2014.pdf"/>
    </bean>

    <!-- Activates various annotations to be detected in bean classes -->
    <context:annotation-config/>

    <!-- Scans the classpath of this application for @Components to deploy as beans -->
    <context:component-scan base-package="com.columbusclubevents.pool.membershipApplication"/>

    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.columbusclubevents.pool.membershipApplication.csv.CsvMessageConverter"/>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- Use annotations for JPA transaction content -->
    <tx:annotation-driven/>

    <!-- Define the bean to process persistance annotations -->
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <jpa:repositories base-package="com.columbusclubevents.pool.membershipApplication.repository"/>
</beans>